{
	"env": {
		"es6": true,
		"browser": true,
		"node": true,
		"jest": true
	},
	"reportUnusedDisableDirectives": true,
	"parser": "@typescript-eslint/parser",
	"extends": [
		"airbnb",
		"eslint:recommended",
		"plugin:@typescript-eslint/recommended",
		"plugin:react/recommended",
		"plugin:jsx-a11y/recommended",
		"plugin:testing-library/react",
		"plugin:markdown/recommended",
		"plugin:jsonc/recommended-with-jsonc"
	],
	"plugins": [
		"html",
		"react",
		"react-hooks"
	],
	"settings": {
		"react": {
			"version": "detect"
		}
	},
	"rules": {
		"react/react-in-jsx-scope": "off",
		"react/jsx-indent": [
			"error",
			"tab"
		],
		"react/jsx-indent-props": [
			"error",
			"tab"
		],

		// https://github.com/import-js/eslint-plugin-import
		"import/prefer-default-export": "off",
		"import/no-useless-path-segments": [
			"error",
			{
				"noUselessIndex": true
			}
		],

		// https://eslint.org/docs/latest/rules/
		"no-tabs": "off",
		"indent": [
			"error",
			"tab",
			{
				"SwitchCase": 1
			}
		],
		"quotes": [
			"error",
			"double"
		],
		"no-param-reassign": ["error", { "props": true, "ignorePropertyModificationsForRegex": ["^state"] }]
	},
	"ignorePatterns": [
		".eslintrc",
		"*.min.*",
		"*.d.ts",
		"CHANGELOG.md",
		"dist",
		"build",
		"LICENSE*",
		"output",
		"out",
		"coverage",
		"public",
		"temp",
		"package-lock.json",
		"pnpm-lock.yaml",
		"yarn.lock",
		"__snapshots__",
		"*.css",
		"*.png",
		"*.ico",
		"*.toml",
		"*.patch",
		"*.txt",
		"*.crt",
		"*.key",
		"Dockerfile",
		"!.github",
		"!.vscode"
	],
	// https://typescript-eslint.io/blog/announcing-typescript-eslint-v6/#reworked-configuration-names
	"overrides": [
		{
			"files": ["*.test.ts?(x)", "*.test.js?(x)", "*.spec.ts?(x)", "*.spec.js?(x)"],
			"plugins": [
				"vitest"
			],
			"extends": [
				"plugin:vitest/all"
			]
		},
		{
			"files": ["*.json", "*.json5", "*.jsonc"],
			"parser": "jsonc-eslint-parser",
			"rules": {
				"jsonc/array-bracket-spacing": [
					"error",
					"never"
				],
				"jsonc/comma-dangle": [
					"error",
					"never"
				],
				"jsonc/comma-style": [
					"error",
					"last"
				],
				"jsonc/indent": [
					"error",
					"tab"
				],
				"jsonc/no-octal-escape": "error",
				"jsonc/object-curly-newline": [
					"error",
					{
						"multiline": true,
						"consistent": true
					}
				],
				"jsonc/object-curly-spacing": [
					"error",
					"always"
				],
				"jsonc/object-property-newline": [
					"error",
					{
						"allowMultiplePropertiesPerLine": true
					}
				]
			}
		},
		{
			"files": ["*.ts", "*.tsx"],
			"extends": [
				"airbnb-typescript"
			],
			"parserOptions": {
				"project": "./tsconfig.json"
			},
			"rules": {
				"@typescript-eslint/quotes": [
					"error",
					"double"
				],
				"@typescript-eslint/indent": [
					"error",
					"tab",
					{
						"SwitchCase": 1
					}
				],
				"import/no-extraneous-dependencies": [
					"error",
					{
						"devDependencies": true
					}
				],
				"import/extensions": [
					"error",
					"ignorePackages",
					{
						"js": "never",
						"jsx": "never",
						"ts": "never",
						"tsx": "never",
						// https://github.com/import-js/eslint-plugin-import/issues/1573#issuecomment-565973643
						"": "never"
					}
				]
			}
		}
	]
}
