/* 不使用 tailwind.css 的 preflight，使用 antd 的 reset 样式，防止和 antd 的样式冲突 */
@layer reset, antd;

/* @see https://ant.design/docs/react/compatible-style-cn#resetcss */
@import url(antd/dist/reset.css) layer(reset);
