/* 自定义重置样式 */
@import './base.css';

/* 第三方库样式 */
@import './global.css';

/* 引入 tailwindcss 样式 */
@import './tailwind.css';

/* 动画 */
@import './animation.css';

/* keepalive 组件样式 */
@import './keep-alive.css';
